<article>
  <h3><%= link_to blog.title, blog %></h3>
  <div>
    <% logger.debug "LENGTH: #{long}" %>
    <% if long %>
        <%= RedCloth.new(blog.body).to_html.html_safe %>
    <% else %>
        <%= RedCloth.new(truncate(blog.body, :length => 500, :separator => " ")).to_html.html_safe %>
    <% end %>
  </div>
<% if admin? %>
    <%= link_to 'Edit', edit_blog_path(blog) %> |
    <%= link_to 'Delete', blog, :method => :delete, :confirm => "Are you sure?" %> |
<% end %>
  <%= link_to 'Back', blogs_path %>
</article>