<article>
  <h2><%= @title.capitalize %></h2>
  <h3>Freelance:</h3>
  <div class="accordion">
    <h4><%= link_to "Viarezo", "#" %></h4>
    <div>
      <%= link_to image_tag("/images/viarezo.png", :class => "portfolio"), "http://www.viarezo.com", :target => "_blank" %>
      <p><strong>Description: </strong>Website for small enterprises brokering.<br />
      <strong>Role: </strong>Developer, software and database designer.<br />
      <strong>Technologies: </strong>Ruby on Rails, JQuery, SQL, HTML, CSS.<br />
      <strong>Challenges: </strong>Highly dynamic content and display, extensive use of AJAX, business critical application.</p>
    </div>
    <h4><%= link_to "Skullslab", "#" %></h4>
    <div>
      <%= link_to image_tag("/images/skullslab.png", :class => "portfolio"), "http://severe-mist-814.heroku.com/", :target => "_blank" %>
      <p><strong>Description: </strong>Website for a board games company.<br />
      <strong>Role: </strong>Sole developer, software and database designer.<br />
      <strong>Technologies: </strong>Ruby on Rails, SQL, JQuery, HTML, CSS.<br />
      <strong>Source: </strong><%= link_to "GitHub repository", "https://github.com/elhu/skl", :target => :blank %>
      </p>
    </div>
    <h4><%= link_to "Elhu.me", "#" %></h4>
    <div>
      <%= link_to image_tag("/images/elhu.me.png", :class => "portfolio"), root_path, :target => "_blank" %>
      <p><strong>Description: </strong>Portfolio and blog website.<br />
      <strong>Role: </strong>Sole developer, software and database designer.<br />
      <strong>Technologies: </strong>Ruby on Rails, SQL, JQuery, HTML, CSS.<br />
      <strong>Source: </strong><%= link_to "GitHub repository", "https://github.com/elhu/elhu_me", :target => :blank %>
      </p>
    </div>
  </div>
  <h3>Other:</h3>
  <div class="accordion">
    <h4><%= link_to "OpenAuthenticator", "#" %></h4>
    <div>
      <%= link_to image_tag("/images/openauthenticator.png", :class => "portfolio"), "http://said.elhu.me/", :target => "_blank" %>
      <p><strong>Description: </strong>Time-based authentication service, carried by mobile-apps.<br />
        Currently under heavy development, check out the GitHub repository.<br />
      This project is my end of master's project for Epitech.<br />
      <strong>Role: </strong>Project leader, main API developer, software and database designer.<br />
      <strong>Technologies: </strong>Ruby on Rails, SQL.<br />
      <strong>Challenges: </strong>API creation, security, project management with team members spread in 5 countries.<br />
      <strong>Source: </strong><%= link_to "GitHub repository", "https://github.com/elhu/OpenAuthenticator", :target => :blank %>
      </p>
    </div>
    <h4><%= link_to "AdminGenerator", "#" %></h4>
    <div>
      <p><strong>Description: </strong>Admin and metrics generator for database-backed applications.<br />
      Currently in an early development stage, check out the GitHub repository.<br />
        This project is my research project for the University of Kent.<br />
      <strong>Role: </strong>Developer, software and database designer.<br />
      <strong>Technologies: </strong>Ruby on Rails, SQL.<br />
      <strong>Challenges: </strong>Database reflexivity, dynamic class generation.<br />
      <strong>Source: </strong><%= link_to "GitHub repository", "https://github.com/florentji/BAD", :target => :blank %>
      </p>
    </div>
  </div>
</article>
