<footer>
  <section id="footer-area">
    <section id="footer-outer-block">
      <aside class="footer-segment">
        <h4>Licence</h4>
        <ul>
          <li>Code by <%= link_to "Vincent Boisard", root_path %>.</li>
          <li>Design StarkEleganceTrio by 
            <%= link_to "html5fan", "http://freehtml5templates.com/starkelegancetrio-html5-and-css3-template/", :target => "_blank" %>.
          </li>
          <li>This site is <%= link_to "open source", "https://github.com/elhu/elhu_me" %>.</li>
        </ul>
      </aside><!-- end of #fourth footer segment -->
      <aside class="footer-segment">
        <h4>Inspiring people</h4>
        <ul>
          <li><%= link_to "Thoughtbot", "http://thoughtbot.com", :target => "_blank" %></li>
          <li><%= link_to "RailsCasts", "http://railscasts.com/", :target => "_blank" %></li>
          <li><%= link_to "Michael Hartl", "http://ruby.railstutorial.org/", :target => "_blank"  %></li>
        </ul>
      </aside>
      <aside class="footer-segment">
        <h4>Stuff I like</h4>
        <ul>
          <li><%= link_to "xkcd", "http://xkcd.com", :target => "_blank" %></li>
          <li><%= link_to "Thomas Hooper", "http://meditationsinatrament.com", :target => "_blank" %></li>
        </ul>
      </aside>
      <aside class="footer-segment">
        <h3>Last tweet</h3>
        <div id="tweets">
        </div>
      </aside>
    </section><!-- end of footer-outer-block -->
  </section><!-- end of footer-area -->
</footer>
