%footer
  %section#footer-area
    %section#footer-outer-block
      %aside.footer-segment
        %h4 Licence
        %ul
          %li
            == Code by #{link_to "Vincent Boisard", root_path}.
          %li
            Design StarkEleganceTrio by 
            == #{link_to "html5fan", "http://freehtml5templates.com/starkelegancetrio-html5-and-css3-template/", :target => "_blank"}.
          %li
            == This site is #{link_to "open source", "https://github.com/elhu/elhu_me"}.
      %aside.footer-segment
        %h4 Inspiring people
        %ul
          %li= link_to "Thoughtbot", "http://thoughtbot.com", :target => "_blank"
          %li= link_to "RailsCasts", "http://railscasts.com/", :target => "_blank"
          %li= link_to "Michael Hartl", "http://ruby.railstutorial.org/", :target => "_blank"
      %aside.footer-segment
        %h4 Stuff I like
        %ul
          %li= link_to "xkcd", "http://xkcd.com", :target => "_blank"
          %li= link_to "Thomas Hooper", "http://meditationsinatrament.com", :target => "_blank"
      %aside.footer-segment
        %h3 Last tweet
        %div#tweets
