%nav>
  %div.menu
    %ul
      %li= link_to "Home", root_path
      %li= link_to "Portfolio", portfolio_path
      %li= link_to "Blog", blogs_path
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li
        = mail_to "boisard.v@gmail.com", image_tag("email.png", :title => "Email", :class => "contact"), :target => :blank
        = link_to image_tag("/assets/twitter.png", :title => "Twitter", :class => "contact"), "http://twitter.com/#!/Elhu", :target => :blank
        = link_to image_tag("/assets/linkedin.png", :title => "LinkedIn", :class => "contact"), "http://www.linkedin.com/profile/view?id=22570022&trk=tab_pro", :target => :blank
        = link_to image_tag("/assets/skype.png", :title => "Skype", :class => "contact"), "skype:vincent.boisard", :target => :blank
        = link_to image_tag("/assets/github.png", :title => "GitHub", :class => "contact"), "http://github.com/elhu", :target => :blank
        = link_to image_tag("/assets/google.png", :title => "Google+", :class => "contact"), 
        "https://plus.google.com/u/0/106892327252719083923/posts", :target => :blank
      - if signed_in?
        %li.auth= link_to "Sign out", sign_out_path, :method => :delete
        %li.auth== Hello #{current_user.handle.capitalize}</li>
        %li.auth= gravatar_image_tag(current_user.email, :alt => current_user.handle, :gravatar => { :size => 30 })
      - else
        %li.auth= link_to "Sign in/Sign up", sign_in_path
