<aside id="sidebar2"><!-- sidebar2 -->
          <div class="asidebox">
          <h3>Inspiring people</h3>
              <ul>
                  <li><%= link_to "Thoughtbot", "http://thoughtbot.com", :target => "_blank" %></li>
                  <li><%= link_to "RailsCasts", "http://railscasts.com/", :target => "_blank" %></li>
                  <li><%= link_to "Michael Hartl", "http://ruby.railstutorial.org/", :target => "_blank"  %></li>
              </ul>
          </div>

        <div class="asidebox">
        <h3>Stuff I like</h3>
            <ul>
                <li><%= link_to "xkcd", "http://xkcd.com", :target => "_blank" %></li>
                <li><%= link_to "Thomas Hooper", "http://meditationsinatrament.com", :target => "_blank" %></li>
            </ul>
        </div>


        <div class="asidebox">
        <h3>Last tweets</h3>
            <span id="tweets">
            </span>
        </div>

</aside><!-- end of sidebar -->