!!! 5
%html
  %head
    / = render 'layouts/title'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = display_meta_tags :site => 'Elhu.me'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25088957-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %div#wrapper
      = render 'layouts/header'
      %section#main
        %section#content
          - flash.each do |key, value|
            %div{:class => "flash #{key}"}
              = value
          = yield
        = render 'layouts/right_panel'
      =render 'layouts/footer'
