<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/title' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= display_meta_tags :site => 'Elhu.me' %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25088957-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="wrapper"><!-- #wrapper -->
    <%= render 'layouts/header' %>
    <section id="main"><!-- #main content and sidebar area -->
      <section id="content"><!-- #content -->
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%=h value %></div>
        <% end %>
        <%= yield %>
      </section><!-- end of #content -->
      <%= render 'layouts/right_panel' %>
    </section><!-- end of #main content and sidebar-->
  <%= render 'layouts/footer' %>
  </div><!-- #wrapper -->
</body>
</html>
