<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/title' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= display_meta_tags :site => 'Elhu.me' %></head>
<body>
  <div id="wrapper"><!-- #wrapper -->
    <%= render 'layouts/header' %>
    <section id="main"><!-- #main content and sidebar area -->
      <section id="content"><!-- #content -->
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%=h value %></div>
        <% end %>
        <%= yield %>
      </section><!-- end of #content -->
      <%= render 'layouts/right_panel' %>
    </section><!-- end of #main content and sidebar-->
  <%= render 'layouts/footer' %>
  </div><!-- #wrapper -->
</body>
</html>
